---

---
<div class="main-header">
    <img src="/gbc-csclub-logo.png" alt="GBC CS Club Logo" width="250px" height="250px"/>
    <div class="title">
        <h1><em>COMPUTER<br>SCIENCE<br>CLUB</em></h1>
        <h3>By George Brown College</h3>
    </div>
</div>

<style>
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;;
        margin: 54px auto;
        width: 50%;
    }
    img {
        display: inline;
    }
    .title {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
    }
    h1 {
        display: inline;
        float: right;
        text-align: right;
        font-size: 4rem;
        margin: 0;
        font-family: "Inter", sans-serif;
    }
    h3 {
        display: inline;
        margin: 0;
        text-align: right;
        clear: right;
        font-family: "JetBrains Mono", monospace;
    }
</style>